.addons_container {
  width: 100%;
  height: 100%;
  padding: 2.5rem 0 0 0;
}
.addons_heading {
  color: var(--marine-blue);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.addons_details {
  color: var(--cool-gray);
}
.addon_card {
  background-color: var(--magnolia);
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  gap: 1rem;
}

.addon_info{
  margin:0 0 0 2rem;
}