.navigation_container {
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  width: 274px;
  height: 568px;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav_child {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
.nav_num {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_step {
  color: var(--cool-gray);
}
.nav_details {
  color: white;
  font-weight: bold;
}
.active_step {
  background-color: var(--light-blue);
  color: var(--marine-blue);
  border: none;
}
.footer_nav_container {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin-top: auto;
}
.next_step_btn,
.previous_btn {
  text-decoration: none;
}
.next_step_btn {
  font-weight: 500;
  color: white;
  border: 0;
  padding: 12px 24px;
  background-color: var(--marine-blue);
  border-radius: 6px;
  margin-left: auto;
}
.previous_btn {
  border: none;
  background-color: transparent;
  color: var(--cool-gray);
  transition: color 1.1s;
  padding: 16px 0px;
  font-weight: bold;
}
.previous_btn:hover {
  color: var(--marine-blue);
}
